.*
*.tgz
**/*.js.map
npm-debug.log
schema/*.js

scripts
src
test
typings
bundled
build
temp
coverage
docs
wiki

jsconfig.json

tsconfig.json
typings.json
tslint.json

.eslintignore
.github
.gitignore
.husky
.markdownlint.json
.npmrc
.vscode
.publishrc

eslint.config.js

type_definitions

CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
ISSUE_TEMPLATE.md
LICENSE
PULL_REQUEST_TEMPLATE.md
README.md
TODO.md
