# .npmrc Configuration for pnpm.

engine-strict = true

enable-pre-post-scripts = true

fund = false

# https://github.com/pnpm/pnpm/issues/6300
dedupe-peer-dependents=false

# This is a variant of ignore-scripts which only applies to external
# dependencies, allowing the repo to have its own scripts if needed while still
# stopping random downloaded deps from executing code.
# TODO: use this once https://github.com/pnpm/pnpm/issues/7139 is fixed or we
# change shared-workspace-lockfile back to true.
# onlyBuiltDependencies also does not work, otherwise that'd be superior to either.
; ignore-dep-scripts = true

ignore-scripts = true

# Ensure that @types packages are resolved to this repo's packages where
# available.
prefer-workspace-packages = true

package-lock = true

# Uses the exact version instead of any within-patch-range version of an
# installed package.
save-exact = false


# Match npm's behavior and ensure we get all deps.
auto-install-peers = true

strict-peer-dependencies = true

# Use the top-level package.json to resolve conflicts.
resolve-peers-from-workspace-root = true

# Don't use the top-level package.json to resolve conflicts.
; resolve-peers-from-workspace-root = false

scope =
registry = https://registry.npmjs.org
